:root{
    --Green-100: rgb(11,144,26);
    --Blue-100:rgb(142, 186, 220);
    --white-100: #fff;


}

*{
    padding: 0;
    margin: 0;
    
}

header{
    display: block;
    align-items: center;
    text-align: center;
    background: var(--Green-100);
    height: 6rem;
    
}
header h1{
    padding-top: 2rem;
    color: var(--white-100);
}



main{
    background-image: url("/images/oncaPintada.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;


    
}
section {
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    color: white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: auto;
    max-width: 40%;
}

.box1 {
    align-self: flex-start;
    padding:2rem 3rem;
}

.box2 {
    align-self: flex-end;
    padding: 0.75rem 1rem;
}

.weather h2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}





footer{
    background:var(--Green-100);
    padding: 40px;
    color: white;
}

footer p{
    margin-bottom: 10px;
    text-align: center;
}
.imgOnca{
    display: none;
}

